In [46]:
import numpy as np
import pandas as pd
from efficient_apriori import apriori

In [47]:
data = pd.read_csv('./Market_Basket_Optimisation.csv', header=None)
data.fillna(0, inplace=True)
data.head()

              0          1           2   ...               17       18         19
0         shrimp    almonds     avocado  ...  frozen smoothie  spinach  olive oil
1        burgers  meatballs        eggs  ...                0        0          0
2        chutney          0           0  ...                0        0          0
3         turkey    avocado           0  ...                0        0          0
4  mineral water       milk  energy bar  ...                0        0          0

[5 rows x 20 columns]

In [48]:
transactions = []
for i in range(0,len(data)):
    temp_set = set()
    for j in range(0, 20):
        if str(data.values[i, j]) !='0':
            temp_set.add(str(data.values[i, j]))
    transactions.append(temp_set)

In [49]:
transactions[0]

{'almonds',
 'antioxydant juice',
 'avocado',
 'cottage cheese',
 'energy drink',
 'frozen smoothie',
 'green grapes',
 'green tea',
 'honey',
 'low fat yogurt',
 'mineral water',
 'olive oil',
 'salad',
 'salmon',
 'shrimp',
 'spinach',
 'tomato juice',
 'vegetables mix',
 'whole weat flour',
 'yams'}

In [50]:
itemsets, rules = apriori(transactions, min_support=0.05, min_confidence=0.2)
print('频繁项集:', itemsets)
print('关联则规则:', rules)

频繁项集: {1: {('burgers',): 654, ('cake',): 608, ('chicken',): 450, ('chocolate',): 1229, ('cookies',): 603, ('cooking oil',): 383, ('eggs',): 1348, ('escalope',): 595, ('french fries',): 1282, ('frozen smoothie',): 475, ('frozen vegetables',): 715, ('grated cheese',): 393, ('green tea',): 991, ('ground beef',): 737, ('low fat yogurt',): 574, ('milk',): 972, ('mineral water',): 1788, ('olive oil',): 494, ('pancakes',): 713, ('shrimp',): 536, ('soup',): 379, ('spaghetti',): 1306, ('tomatoes',): 513, ('turkey',): 469, ('whole wheat rice',): 439}, 2: {('chocolate', 'mineral water'): 395, ('eggs', 'mineral water'): 382, ('mineral water', 'spaghetti'): 448}}
关联则规则: [{mineral water} -> {chocolate}, {chocolate} -> {mineral water}, {mineral water} -> {eggs}, {eggs} -> {mineral water}, {spaghetti} -> {mineral water}, {mineral water} -> {spaghetti}]